.main.jsx{
    height: 200px;
    width: 200px;
    border: 1px solid black
}

.AboutUs{
    height: 200px;
    width: 200px;
    border: 1px solid black
}

.Contacts{
    height: 200px;
    width: 200px;
    border: 1px solid black
}

.header.jsx{
    height: 200px;
    width: 200px;
    border: 1px solid black
}